In [160]:
import pandas as pd
import numpy as np

log = pd.read_csv("log.csv")
log = log.rename(columns=lambda x: x.strip())
log = log.drop(["start_time", "end_time"], axis=1)

In [161]:
log.head()

,subject_id,task_round,task_class,task_index,mouse_distance,mouse_click,keyboard_press,success,duration,prompt
0,9,0,0,0,6282,30,28,1,72.235,NaN
1,9,0,0,1,9917,18,48,1,62.757,NaN
2,9,0,0,2,4208,13,1,1,36.350,NaN
3,9,0,0,3,9320,8,0,1,33.527,NaN
4,9,0,0,4,12359,14,14,1,46.989,NaN

In [162]:
only_log = log.loc[(log["task_round"] == 1) & (log["success"] == 1)]
only_log = only_log.drop(["task_round","success"], axis=1)
only_log.head()

,subject_id,task_class,task_index,mouse_distance,mouse_click,keyboard_press,duration,prompt
13,9,0,0,1624,3,124,57.255,创建“旅行照片”文件夹，把3月8日创建的文件复制到里面
14,9,0,1,831,0,155,59.272,将“分享.jpg”的文件使用邮件发送给fakename@fakename.com，邮件名为“...
15,9,0,2,1116,0,60,28.643,换一张“山峰壁纸”
16,9,0,3,1929,2,103,40.265,分屏显示safari和提醒事项；开启专注模式
17,9,0,4,1750,1,59,21.993,截图全屏，投送出去

In [163]:
only_log

,subject_id,task_class,task_index,mouse_distance,mouse_click,keyboard_press,duration,prompt
13,9,0,0,1624,3,124,57.255,创建“旅行照片”文件夹，把3月8日创建的文件复制到里面
14,9,0,1,831,0,155,59.272,将“分享.jpg”的文件使用邮件发送给fakename@fakename.com，邮件名为“...
15,9,0,2,1116,0,60,28.643,换一张“山峰壁纸”
16,9,0,3,1929,2,103,40.265,分屏显示safari和提醒事项；开启专注模式
17,9,0,4,1750,1,59,21.993,截图全屏，投送出去
...,...,...,...,...,...,...,...,...
520,202,0,1,5333,6,18,152.216,将名字为’‘分享.jpg’‘的照片发邮件给fakename@fakemail.com，邮件主...
521,202,0,2,6747,2,1,27.440,找一张山峰的照片，换做桌面壁纸
522,202,0,3,738,0,4,49.442,分屏显示safari浏览器和提醒事项，然后开启专注模式
523,202,0,4,1161,3,3,48.944,截全屏，然后airdrop给最近的手机
524,202,0,5,1584,1,2,32.854,把下一个日程的目的地复制到备忘录

In [164]:
import jieba
import re
def text_length(text):
  text = str(text)
  # text = re.sub(r'[，。”“"".；、]', '', text) 
  text_list = list(jieba.cut(text))
  print(text_list)
  length = len(text_list)
  # length = len(text)
  return length

only_log = only_log.assign(prompt_count = only_log["prompt"].apply(text_length))
only_log
prompt = only_log["prompt"]

['创建', '“', '旅行', '照片', '”', '文件夹', '，', '把', '3', '月', '8', '日', '创建', '的', '文件', '复制到', '里面']
['将', '“', '分享', '.', 'jpg', '”', '的', '文件', '使用', '邮件', '发送给', 'fakename', '@', 'fakename', '.', 'com', '，', '邮件', '名为', '“', '共享', '照片', '”']
['换', '一张', '“', '山峰', '壁纸', '”']
['分屏', '显示', 'safari', '和', '提醒', '事项', '；', '开启', '专注', '模式']
['截图', '全屏', '，', '投送', '出去']
['复制', '最近', '一个', '日程', '的', '位置', '到', '备忘录']
['制作', '一张', '带有', '标题', '账户', '密码', '登录', '组件', '的', '登录', '页面']
['填充', '海洋']
['制作', '4', '*', '4', '圆形', '矩阵', '，', '直径', '为', '16px', '间距', '为', '8px']
['替换', '全部', '字体', '为', 'roboto']
['为', '姓名', '替换', '真实', '名字']
['将', '图片', '的', '图层', '按', '尺寸', '命名']
['帮', '我', '把', '文件夹', '中', '所有', '3', '月', '8', '日', '创建', '的', '照片', '复制到', '一个', '名为', '“', '旅行', '照片', '”', '的', '新', '文件夹']
['把', '“', '分享', '”', '照片', '发到', 'fakename', '@', 'fakemail', '.', 'com', '的', '邮箱', '，', '标题', '为', '为', '共享', '照片']
['帮', '我', '设置', '一张', '山峰', '的', '桌面壁纸']
['给', '我', '分屏', '打开', 'safari', '和', '提醒', '再', '开启', '工作', '模式']
['截', '全屏', '分享', '到', '我', '的', '手机']
['将', '下', '一个', '日程', '的', '地理信息', '复制到', '备忘录']
['给', '我', '制作', '一个', '和', '参考', '差不多', '的', '页面']
['在', '矩形', '里', '填充', '海洋', '图片']
['制作', '16', '个', '直径', '为', '16px', '的', '圆形', '，', '成', '间隔', '为', '8']
['把', '界面', '里', '所有', '文字', '换成', 'Roboto', '字体']
['把', '名字', '换成', '真', '名字']
['把', '图片', '名字', '换成', '其', '尺寸']
['将', '这个', '文件夹', '中', '3', '月', '8', '日', '创建', '的', '文件', '复制到', '一个', '新', '的', '命名', '为', '“', '旅行', '照片', '”', '的', '文件夹', '中']
['将', '这个', '文件夹', '中', '名字', '为', '“', '分享', '”', '的', '照片', '使用', '电子邮件', 'app', '，', '命名', '为', '“', '共享', '照片', '”', '发送给', 'fakename', '@', 'fakemail', '.', 'com']
['将', '桌面', '换成', '山峰', '壁纸']
['打开', 'safari', '浏览器', '和', '提醒', '事项', '，', '并', '分屏', '显示', '，', '然后', '开启', '“', '工作', '”', '专注', '模式']
['截', '全屏', '并', '共享', '到', '最近', '的', '手机']
['将', '日历', '中', '的', '下', '一个', '日程', '的', '地理位置', '复制到', '备忘录']
['在', 'page1', '中', '，', '根据', '参考', '制作', '一份', '简洁', '的', '登录', '界面', '，', '要求', '有', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '、', '密码', '输入框', '和', '登录', '按钮']
['在', 'page2', '的', '矩形', '中', '填充', '海洋', '的', '图片']
['在', 'page3', '中', '制作', '一个', '4', '*', '4', '的', '圆形', '矩阵', '，', '直径', '16px', '，', '间距', '8px', '，', '颜色', '为', '红色']
['将', 'page4', '里', '的', '所有', '文字', '换成', 'Roboto', '字体']
['把', 'page5', '里面', '所有', '的', '姓名', '全部', '替换成', '真实', '的', '中文', '姓名']
['把', 'page6', '中', '所有', '的', '相册', '图片', '的', '图层', '名', '改成', '图层', '的', '尺寸']
['将', '文件夹', '3', '月', '8', '日', '的', '图片', '复制到', '新', '文件夹', '“', '旅行', '照片', '”']
['将', '文件夹', '“', '分享', '.', 'jpg', '”', '发送给', 'fakename', '@', 'fakemail', '.', 'com', '，', '标题', '为', '共享', '照片']
['将', '桌面壁纸', '更换', '为', '山峰']
['分屏', '显示', 'safari', '和', '提醒', '事项']
['截', '全屏', '并', '发送']
['复制', '下', '一个', '日程', '的', '位置', '到', '备忘录']
['根据', '参考', '制作', '新', '的', '登录', '界面']
['nan']
['制作', '4', '*', '4', '的', '圆形', '矩阵', '直径', '16', '间距', '8']
['所有', '文字', '换成', 'roboto']
['将', '姓名', '换成', '中文', '姓名']
['将', '图片', '名称', '改成', '图层', '尺寸']
['新建', '一个', '文件夹', '，', '命名', '为', '“', '旅行', '照片', '”', '，', '并且', '将', 'photo', '文件', '里', '创建', '日期', '为', '3', '月', '8', '日', '的', 'JPEG', '图像', '复制到', '“', '旅行', '照片', '文件夹', '中', '”']
['发送', '邮件', '给', 'fakename', '@', 'fakemail', '.', 'com', '，', '附件', '图像', '“', '分享', '.', 'jpg', '”', '，', '标题', '为', '共享', '照片']
['将', '含有', '山峰', '的', '照片', '设', '为', '壁纸']
['将', 'Safari', '和', '提醒', '事项', '同时', '分屏', '显示', '，', '并且', '开启', '专注', '模式']
['截屏', '并且', '将', '图片', '隔空', '投递']
['将', '日历', '中', '下', '一个', '日程', '内容', '，', '复制到', '备忘录', '中']
['制作', '包含', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '、', '登录', '按钮', '的', '登录', '界面']
['在', '“', '海洋', '照片', '”', '里', '填充', '包含', '海洋', '元素', '的', '图片']
['制作', '4', '*', '4', '的', '圆形', '矩阵', '，', '圆形', '直径', '16px', '，', '间距', '8px']
['将', '“', '主页', '”', '中', '所有', '文字', '替换', '为', '“', 'roboto', '”', '字体']
['将', '“', '姓名', '”', '依次', '替换成', '“', '张三', '”', '、', '“', '张四', '”', '等']
['nan']
['将', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '一个', '新', '的', '文件夹', '，', '命名', '为', '旅行', '照片']
['将', '“', '分享', '.', 'jpg', '”', '的', '照片', '通过', '电子邮箱', '标题', '为', '共享', '照片', '，', '发送给', 'fakename', '@', 'fakemail', '.', 'com']
['将', '山峰', '的', '壁纸', '保存', '并', '变成', '桌面壁纸']
['分屏', '显示', 'safari', '浏览器', '和', '提醒', '事项', '，', '开启', '工作', '专注', '模式']
['截', '全屏', '并', 'airdrop', '共享', '到', '最近', '的', '手机']
['查看', '下', '一个', '日程', '的', '位置', '并', '粘贴', '到', '备忘录']
['在', '该', '页面', '根据', '参考', '制作', '一份', '简洁', '的', '登录', '页面', '，', '含', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '、', '登录', '按钮']
['在', 'page2', '的', '矩形', '中', '填充', '海洋', '的', '图片']
['制作', '4', '*', '4', '的', '圆形', '矩阵', '，', '直径', '16px', '，', '间距', '8px']
['将', '所有', '文字', '换成', 'roboto', '字体']
['将', '姓名', '换成', '样例', '的', '中文', '姓名']
['将', '所有', '相册', '图片', '的', '图层', '名', '改为', '图层', '的', '尺寸']
['将', 'photo', '文件夹', '中', '3', '月', '8', '日', '创建', '的', '照片', '复制到', '一个', '新', '的', '文件夹', '中', '，', '命名', '为', '旅行', '照片']
['将', 'photo', '文件夹', '中', '名为', '“', '分享', '”', '的', '照片', '发到', 'fakename', '@', 'fakemail', '.', 'com', '，', '标题', '为', '共享', '照片']
['找', '一张', '山', '的', '照片', '设', '成', '壁纸']
['分屏', '打开', 'safari', '和', '提醒', '事项', '，', '开启', '工作', '专注', '模式']
['截', '全屏', '并', 'airdrop', '到', '附近', '手机']
['查看', '日历', '中', '下', '一个', '日程', '的', '地理位置', '并', '复制到', '备忘录']
['在', 'page1', '中', '，', '根据', '参考', '制作', '一个', '界面', '，', '包含', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '和', '登录', '按钮']
['在', 'page2', '的', '矩形', '中', '填充', '海洋', '的', '图片']
['在', 'page3', '中', '制作', '一个', '4x4', '的', '圆形', '矩形', '，', '直径', '16px', '，', '间距', '8px', '，', '颜色', '随机']
['将', 'page4', '里', '所有', '的', '文字', '换成', 'roboto', '字体']
['在', 'page5', '中', '替换', '所有', '姓名', '图层', '为', '中文', '姓名']
['将', 'page6', '中', '所有', '相册', '图片', '名', '换成', '对应', '的', '图层', '尺寸', '大小']
['将', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '新', '的', '文件夹', '，', '并且', '文件夹', '命名', '为', '“', '旅行', '照片', '”']
['将', '文件夹', '中', '的', '名字', '为', '“', '分享', '.', 'jpg', '”', '的', '照片', '使用', '电子邮件', 'APP', '发送给', 'fakename', '@', 'fakemail', '.', 'com', '，', '标题', '为', '共享', '照片']
['找到', '山峰', '图片', '，', '更换', '为', '桌面壁纸']
['将', 'Safari', '浏览器', '和', '提醒', '事项', '分屏', '显示', '，', '并', '开启', '专注', '模式']
['截', '全屏', '并', '共享', '到', '最近', '的', '手机']
['查看', '日历', '中', '下', '一个', '日程', '的', '地理位置', '，', '将', '其', '粘贴', '到', '备忘录']
['制作', '一份', '登录', '界面']
['在', '矩形', '中', '填充', '海洋', '图片']
['创作', '一个', '4', '✖', '️', '4', '圆形', '矩阵', '，', '具体', '要求', '：', '1', '.', '单个', '圆形', '直径', '16px2', '.', '间距', '8px3', '.', '颜色', '随机']
['将', '所有', '文字', '字体', '换为', 'Roboto', '字体']
['将', '“', '姓名', '”', '图', '层替换', '为', '随机', '中文名']
['将', '所有', '的', '图片', '的', '图层', '名字', '改为', '图层', '尺寸']
['将', 'photo', '文件夹', '下', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '一个', '新', '的', '叫', '旅行', '照片', '的', '文件夹']
['将', '当前', '文件夹', '中', '命名', '为', '“', '分享', '.', 'jpg', '”', '的', '图片', '用', '电子邮箱', 'APP', '发送给', 'fakename', '@', 'fakemail', '.', 'com']
['找', '一张', '山峰', '的', '壁纸', '，', '保存', '后', '将', '其', '作为', '桌面壁纸']
['打开', 'Safari', '浏览器', '和', '提醒', '事项', '并', '分屏', '显示', '，', '并', '开启', '工作', '专注', '模式']
['截', '全屏', '并', 'airdrop', '给', '最近', '的', '手机']
['查看', '日历', '中下', '一', '行程', '的', '地址', '位置', '，', '并', '将', '其', '复制到', '备忘录']
['制作', '一份', '简洁', '的', '登录', '界面', '，', '其中', '包含', '标题', '、', '账户', '输入框', '以及', '密码', '输入框', '，', '和', '登录', '按钮']
['在', '矩形框', '中', '填充', '海洋', '图片']
['制作', '4x4', '的', '圆形', '矩阵', '，', '直径', '16px', '，', '间隔', '8px']
['将', '页面', '里', '所有', '文字', '换成', 'Roboto', '字体']
['将', '姓名', '图', '层替换', '为', '中文', '姓名']
['将', '页面', '中', '图片', '对应', '的', '图层', '名', '改为', '图片', '的', '尺寸']
['创建', '“', '旅行', '照片', '”', '文件夹', '，', '将', '日期', '为', '3', '月', '8', '日', '的', '图片', '复制', '进去']
['以', '标题', '“', '共享', '照片', '”', '将', '“', '分享', '.', 'jpg', '”', '用', '邮件', '发送给', 'fakename', '@', 'fakemail', '.', 'com']
['找', '一张', '山峰', '图片', '作为', '系统', '壁纸']
['把', 'safari', '和', '提醒', '事项', '分屏', '打开', '，', '系统', '开启', '“', '工作', '”', '模式']
['截取', '全屏', '隔', '空投', '送给', '最近', '的', '手机']
['把', '下', '一个', '日程', '中', '的', '地址', '复制粘贴', '到', '备忘录']
['制作', '一个', '有', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '和', '登录', '按钮', '的', '登录', '界面']
['把', '矩形', '填充', '海洋', '照片']
['制作', '一个', '直径', '为', '16px', '的', '圆形', '4', '*', '4', '矩阵', '，', '间距', '8px', '，']
['把', '所有', '文字', '改成', '“', 'Roboto', '”', '字体']
['把', '“', '姓名', '”', '替换成', '中文', '名字']
['所有', '图层', '根据', '其', '尺寸', '命名']
['把', '日期', '是', '3', '月', '8', '日', '的', '照片', '放到', '旅行', '照片', '文件夹', '里']
['把', '“', '分享', '.', 'jpg', '”', '邮件', '发送给', 'fakename', '@', 'fakemail', '.', 'com', '邮件', '名是', '共享', '照片']
['设置', '一个', '山峰', '的', '桌面壁纸']
['分屏', '显示', '浏览器', '和', '提醒', '事项', '，', '开启', '专注', '模式']
['截屏', '共享', '到', '我', '的', '手机']
['把', '日程', '里', '的', '位置', '添加', '到', '备忘录']
['设计', '一个', '登录', '界面', '，', '里面', '有', '标题', '、', '账户', '密码', '输入框', '以及', '登录', '按钮']
['在', '矩形', '里', '填充', '海洋', '图片']
['新建', '一个', '直径', '为', '16px', '，', '间距', '为', '8px', '的', '4', '✖', '️', '4', '圆形', '矩阵']
['把', '所有', '文字', '改为', 'Roboto']
['修改', '所有', '姓名']
['将', '图片', '的', '图层', '名', '改为', '对应', '的', '尺寸']
['将', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '新', '的', '“', '旅行', '照片', '”', '文件夹']
['将', '“', '分享', '.', 'jpg', '”', '用', '电子邮件发送', '给', 'fakename', '@', 'fakemail', '.', 'com', '，', '邮件', '标题', '为', '共享', '照片']
['将', '山峰', '的', '照片', '用于', '桌面壁纸']
['分屏', '显示', 'safari', '和', '提醒', '事项', '，', '并', '开启', '“', '工作', '”', '专注', '模式']
['截', '全屏', '并', '隔', '空投', '送给', '附近', '手机']
['将', '日历', '中', '下', '一个', '日程', '的', '地理位置', '复制到', '备忘录']
['制作', '一份', '拥有', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '和', '登录', '按钮', '的', '登录', '界面']
['填充', '一张', '海洋', '的', '图片']
['制作', '一个', '4', '*', '4', '的', '圆形', '矩阵', '，', '圆形', '直径', '为', '16px', '，', '间距', '为', '8px']
['所有', '字体', '换成', 'Roboto']
['将', '姓名', '图', '层替换', '成', '中文', '名字']
['用', '照片', '图层', '尺寸', '命名', '照片']
['把', 'photo', '文件夹', '中', '3', '月', '8', '号', '创建', '的', '图片', '另存', '到', '一个', '新', '的', '命名', '为', '“', '旅行', '照片', '”', '的', '文件夹', '内']
['将', '“', 'photo', '”', '文件夹', '中', '命名', '为', '“', '分享', '”', '的', '照片', '用', '电子邮件发送', '给', 'fakename', '@', 'fakename', '.', 'com', '并', '设置', '其', '标题', '为', '“', '共享', '照片', '”']
['用', 'Safari', '搜索', '一张', '山峰', '的', '照片', '并', '把', '这张', '照片', '设置', '为', '桌面壁纸']
['把', 'Safari', '和', '提醒', '事项', '同时', '打开', '并', '放在', '屏幕', '的', '左右', '两侧', '，', '之后', '打开', '“', '工作', '”', '专注', '模式']
['截屏', '全部', '屏幕', '并', '把', '这张', '照片', '用', 'airdrop', '发给', '最近', '的', '手机']
['打开', '日历', '，', '找到', '最近', '日程', '的', '地理位置', '，', '并', '把', '地理位置', '的', '描述', '文字', '放在', '备忘录', '中']
['根据', '现有', '参考', '在', 'figma', '的', 'page1', '旁边', '重新', '设计', '一个', '包含', '标题', '、', '账户', '输入框', '、', '密码', '输入', '和', '登录', '按钮', '的', '界面', '，', '尺寸', '和', '参考', '的', '一样']
['在', 'figma', '的', 'page2', '中', '创建', '一个', '矩形', '，', '并', '在', '矩形', '中', '填充', '一个', '网页', '上', '下载', '的', '任意', '“', '海洋', '”', '相关', '的', '图片']
['此', '页面', '中', '输入', '4', '行', '4', '列', '，', '一共', '16', '个', '的', '直径', '16', '，', '相互', '间距', '为', '8', '的', '圆形', '，', '颜色', '随机']
['把', '此', '页面', '中', '的', '所有', '文字', '的', '字体', '换为', 'Roboto', '字体']
['把', '本页', '中', '“', '姓名', '”', '随机', '换', '为', '其他', '中文', '名字']
['把', '本', '页面', '图片', '图层', '的', '名字', '改为', '此图', '的', '尺寸', '，', '呈现', '为长', 'X', '宽']
['将', '3', '月', '8', '日', '创建', '的', '图片', '新建', '为', '文件夹', '“', '旅行', '照片', '”']
['将', '“', '分享', '.', 'jpg', '”', '以', '“', '共享', '照片', '”', '为', '标题', '通过', '电子邮件发送', '给', 'fakename', '@', 'fakemail', '.', 'com']
['选', '一张', '山峰', '的', '图片', '设置', '为', '桌面壁纸']
['将', 'safari', '和', '提醒', '事项', '分屏', '后', '开启', '专注', '模式']
['截屏', '隔', '空投', '送给', '最近', '的', '手机']
['将', '日历', '中', '下', '一个', '日程', '的', '地理位置', '保存', '到', '备忘录']
['制作', '一个', '登录', '界面']
['填充', '海洋', '图片']
['建立', '4x4', '个', '直径', '为', '16px', '间隔', '为', '8px', '的', '圆形', '矩阵']
['将', '该', '页面', '所有', '文字', '换成', 'roboto', '字体']
['将', '姓名', '图', '层替换', '成', '中文', '姓名']
['将', '所有', '照片', '的', '图层', '名', '改为', '图层', '尺寸']
['将', '桌面', '文件夹', '里面', '的', '3', '月', '8', '号', '创建', '的', '图片', '复制到', '一个', '新', '的', '文件夹', '，', '并且', '命名', '为', '旅行', '照片']
['将', '文件夹', '中', '名字', '叫', '分享', '的', '照片', '，', '用', '电子邮件', 'app', '发送给', 'fakename', '@', 'fakemail', '.', 'com', '，', '标题', '写为', '共享', '照片']
['找', '一张', '主题', '为', '山峰', '的', '壁纸', '，', '保存', '后', '更换', '为', '桌面壁纸']
['打开', 'safari', '和', '提醒', '事项', '，', '然后', '分屏', '显示', '，', '并且', '开启', '工作', '专注', '模式']
['截', '全屏', '然后', 'airdrop', '到', '最近', '的', '手机']
['查看', '日历', '中', '下', '一个', '日程', '的', '地理位置', '，', '并', '复制粘贴', '到', '备忘录']
['在', 'page1', '中', '，', '根据', '参考', '制作', '一份', '一样', '的', '登录', '界面']
['在', 'page2', '中用', '海洋', '的', '图片', '填充', '矩形']
['在', 'page3', '中', '制作', '一个', '4']
['将', 'page4', '里面', '所有', '的', '文字', '换成', 'roboto', '字体']
['把', '姓名', '图', '层替换', '成', '随机', '中文', '名字']
['将', '所有', '相册', '图片', '的', '图层', '名', '改成', '图层', '的', '尺寸']
['将', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '一个', '新', '的', '文件夹', '，', '新', '文件夹', '命名', '为', '旅行', '照片']
['将', '文件夹', '中', '名字', '为', '分享', '的', '照片', '使用', '电子邮件发送', '给', 'fakename', '@', 'fakemail', '.', 'com', '标题', '为', '共享', '照片']
['将', '桌面壁纸', '换', '为', '山峰', '主题', '的', '壁纸']
['打开', '浏览器', '和', '提醒', '事项', '，', '分屏', '显示', '，', '开启', '工作', '专注', '模式']
['截', '全屏', '并', '通过', 'airdrop', '共享', '到', '最近', '的', '手机']
['查看', '日历', '中', '下', '一个', '日程', '的', '地理位置', '并', '复制粘贴', '到', '忘备录']
['制作', '一份', '简洁', '的', '登录', '页面', '，', '要求', '包含', '标题', '、', '账户', '输入框', '、', '密码', '输入框', '和', '登录', '按钮']
['在', '海洋', '图片', '框架', '中', '填充', '海洋', '图片']
['制作', '一个', '4', '✖', '️', '4', '的', '圆形', '矩阵', '，', '直径', '16px', '，', '间距', '8px', '，', '颜色', '随机']
['将', 'page4', '里', '所有', '的', '文字', '换成', 'roboto', '字体']
['在', 'page5', '中', '的', '姓名', '图', '层替换', '成张', '三', '、', '李四']
['将', 'page6', '中', '的', '相册', '图片', '的', '图层', '名', '改为', '图层', '的', '尺寸']
['在', '本', '文件夹', '中', '创建', '一个', '名为', '“', '旅行', '照片', '”', '的', '文件夹', '，', '然后', '把', '2023', '年', '8', '月', '23', '日', '创建', '的', '照片', '复制', '进去']
['找到', '本', '文件夹', '中', '名为', '“', '分享', '.', 'jpg', '”', '的', '图片', '，', '通过', '电子邮件', 'app', '发送', '，', '收件人', '为', 'fakename', '@', 'fakemail', '.', 'com', '，', '邮件', '主题', '为', '“', '共享', '照片', '”']
['在', '浏览器', '上', '搜索', '一张', '主题', '为', '“', '山峰', '”', '的', '壁纸', '，', '下载', '该', '壁纸', '，', '将', '其', '更换', '为', '桌面壁纸']
['分别', '打开', '“', 'safari', '浏览器', '”', '和', '“', '提醒', '事项', '”', '两个', '应用', '，', '将', '两个', '应用', '界面', '分屏', '展示', '；', '然后', '打开', '专注', '模式', '，', '选择', '“', '工作', '”', '模式']
['截取', '电脑', '全屏', '，', '将', '图片', 'airdrop', '给', '附近', '的', '手机']
['打开', '日历', '，', '找到', '今天', '之后', '的', '下', '一个', '日程', '，', '找到', '日程', '的', '地理位置', '，', '复制粘贴', '到', '备忘录', '中']
['在', 'page1', '页面', '中', '，', '根据', '“', '参考', '”', '界面', '制作', '一份', '登录', '界面', '。', '要求', '有', '标题', '、', '账号', '输入框', '、', '密码', '输入框', '、', '登录', '按钮', '等', '。', '元素', '完整', '，', '风格', '简洁']
['在', 'page2', '中', '找到', '名为', '“', '海洋', '图片', '”', '的', 'frame', '，', '填充', '任意', '一张', '主题', '为', '“', '海洋', '”', '的', '图片']
['在', 'page3', '页面', '制作', '一个', '圆形', '矩阵', '，', '要求', '有', '4', '行', '4', '列', '，', '每个', '圆形', '直径', '为', '16px', '，', '每行', '、', '每列', '间距', '为', '8px']
['找到', 'page4', '“', '主页', '”', '中', '的', '所有', '文字', '，', '把', '文字', '的', '字体', '替换', '为', '“', 'Roboto', '”']
['找到', 'page5', '中', '所有', '内容', '为', '“', '姓名', '”', '的', '文字', '，', '把', '文字', '内容', '替换成', '任意', '中文', '姓名', '，', '例如', '“', '王五', '”']
['找到', 'page6', '中', '所有', '风景图片', '，', '将', '图片', '的', '图层', '名', '改为', '图片', '的', '尺寸', '，', '格式', '为', '“', '长', 'x', '宽', '”']
['将', 'photo', '文件', '中', '3', '月', '8', '日', '创建', '的', '图片', '复制到', '一个', '新', '的', '文件夹', '，', '并', '将', '其', '命名', '为', '旅行', '照片']
['nan']
['寻找', '一张', '主题', '为', '山峰', '的', '壁纸', '，', '保存', '后', '更换', '为', '桌面壁纸']
['打开', 'safari', '浏览器', '和', '提醒', '事项', '，', '并', '分屏', '显示', '，', '然后', '开启', '“', '工作', '”', '专注', '模式']
['截取', '全屏幕', '，', '并', '通过', 'airdrop', '共享', '到', '最近', '的', '手机']
['查看', '日历', '下', '一个', '日程', '的', '地理位置', '，', '并', '复制粘贴', '到', '备忘录']
['请', '设计', '一张', '类似', '“', '参考', '”', '画布', '的', '登录', '界面', '，', '有', '标题', '，', '账户', '输入框', '，', '密码', '输入框', '和', '登录', '按钮']
['在', 'page2', '中', '的', '海洋', '图片', '画布', '中', '填充', '一张', '海洋', '的', '图片']
['在', 'page3', '中', '制作', '一个', '4', '×', '4', '的', '圆形', '矩阵', '，', '直径', '16px', '，', '间距', '8px', '，', '颜色', '随机']
['将', 'page4', '里', '所有', '文字', '替换', '为', 'roboto', '自提']
['在', 'page5', '对', '姓名', '图', '层替换', '为样', '例', '的', '中文', '姓名', '，', '例如', '：', '张三', '，', '李四']
['将', 'page6', '中', '所有', '相册', '图片', '的', '图层', '名', '修改', '为', '图层', '的', '尺寸']
['将', '3', '月', '8', '日', '的', '照片', '复制到', '新创建', '的', '“', '旅行', '照片', '”', '文件夹']
['将', '分享', '.', 'jpg', '邮件', '发送至', 'fakename', '@', 'fakemail', '.', 'com', '标题', '为', '共享', '照片']
['在', '浏览器', '随机', '找', '山峰', '主题', '作为', '桌面壁纸']
['打开', 'safari', '浏览器', '和', '提醒', '事项', '分屏', '显示', '，', '开启', '工作', '专注', '模式']
['截屏', '发送至', '最近', '的', '手机']
['将', '日历', '中', '下', '一个', '日程', '地理位置', '复制到', '备忘录']
['制作', '登录', '界面', '有', '标题', '，', '两个', '输入框', '，', '及', '登录', '按钮']
['在', '浏览器', '中', '随机', '找', '海洋', '照片', '填充', '进', '画布']
['制作', '4x4', '圆形', '矩阵', '，', '直接', '16px', '，', '间距', '8px', '，', '颜色', '随机']
['将', '字体', '全', '换成', 'roboto']
['随机', '生成', '中文', '姓名']
['将', '所有', '相册', '图片', '的', '图层', '改名', '为', '其', '尺寸']
['在', '桌面', '新建', '文件夹', '命名', '旅行', '照片', '，', '并', '把', '3', '月', '8', '日', '照片', '复制', '进去']
['将', '“', '分享', '.', 'jpg', '”', '用', '电子邮件', '发给', 'fakename', '@', 'fakemail', '.', 'com', '，', '标题', '是', '共享', '照片']
['找', '一张', '山峰', '的', '照片', '做', '壁纸']
['分屏', '显示', '浏览器', '和', '提醒', '事项', '，', '开启', '工作', '专注', '模式']
['截', '全屏', '隔', '空投', '送给', '最近', '的', '手机']
['将', '日历', '中', '下', '一个', '日程', '的', '地理位置', '复制到', '备忘录', '里面']
['把', '拍摄', '时间', '是', '3', '月', '8', '号', '的', '照片', '新建', '一个', '文件夹', '放进去', '，', '文件夹', '名字', '叫', '‘', '旅行', '照片', '’']
['将', '名字', '为', '’', '‘', '分享', '.', 'jpg', '’', '‘', '的', '照片', '发邮件', '给', 'fakename', '@', 'fakemail', '.', 'com', '，', '邮件', '主题', '是', '‘', '共享', '照片', '’']
['找', '一张', '山峰', '的', '照片', '，', '换', '做', '桌面壁纸']
['分屏', '显示', 'safari', '浏览器', '和', '提醒', '事项', '，', '然后', '开启', '专注', '模式']
['截', '全屏', '，', '然后', 'airdrop', '给', '最近', '的', '手机']
['把', '下', '一个', '日程', '的', '目的地', '复制到', '备忘录']

In [165]:
only_log = only_log.drop(["prompt"], axis=1).groupby("subject_id").sum()
only_log = only_log.assign(cost=only_log["mouse_distance"]/952+only_log["mouse_click"] * 0.1 + only_log["keyboard_press"] * 0.2)
only_log

,task_class,task_index,mouse_distance,mouse_click,keyboard_press,duration,prompt_count,cost
subject_id,,,,,,,,
2,6,30,16718,8,1092,341.584,155,236.760924
3,6,30,16922,20,785,397.007,134,176.775210
4,6,30,22396,15,1002,520.827,150,225.425210
5,6,30,20161,13,1097,493.094,161,241.877521
6,6,30,14137,8,1312,609.363,186,278.049790
7,6,30,43405,25,1333,573.731,147,314.693487
8,6,30,9394,5,840,319.289,122,178.367647
9,6,30,17619,13,968,376.677,112,213.407353
10,6,30,25313,8,1033,370.516,160,233.989286
11,6,30,11575,10,753,259.809,90,163.758613
12,6,30,17565,8,835,312.990,114,186.250630
13,6,30,8151,5,1076,384.912,149,224.261975
14,6,30,3804,2,813,403.451,129,166.795798
15,6,30,19539,11,848,455.093,115,191.224160
16,6,30,18697,26,1643,607.628,242,350.839706
201,6,30,21804,17,1288,623.159,161,282.203361
202,0,15,18727,14,28,361.686,87,26.671218
203,6,30,53879,59,2372,794.629,293,536.895588
204,6,30,39139,37,1158,507.725,175,276.412395
205,6,30,18335,13,917,396.456,119,203.959454
206,0,15,6088,6,485,253.813,73,103.994958

In [166]:
scale = pd.read_csv("scale_origin.csv")
scale = scale[scale["task_round"] == 1]
scale

    subject_id  task_round   sus  effect  easy  easy_learn  satisfaction
0          202           1  77.5    52.6  64.6        26.6            45
2          206           1  57.5    49.6  58.8        24.0            48
4          205           1  60.0    48.8  64.0        26.6            49
6          204           1  85.0    49.6  60.2        23.8            48
8          203           1  67.5    51.8  58.6        24.8            46
10         201           1  50.0    54.6  67.2        26.6            49
12          13           1  87.5    47.6  67.2        24.6            48
14          15           1  80.0    54.6  64.8        26.6            48
16          16           1  72.5    45.8  58.4        26.6            49
18          14           1  75.0    54.6  67.2        26.6            49
20          12           1  85.0    50.8  61.2        24.6            46
22           3           1  70.0    44.0  58.8        26.6            43
24           2           1  80.0    47.6  60.8        26.6            49
26           4           1  70.0    44.0  57.0        25.6            45
28          10           1  90.0    54.6  67.2        26.6            49
31           7           1  82.5    53.6  67.2        26.6            49
32           5           1  60.0    52.6  56.6        24.6            48
34          11           1  82.5    48.0  65.6        26.6            46
36           6           1  85.0    54.6  67.2        26.6            48
38           8           1  62.5    46.0  54.8        23.0            42
40           9           1  65.0    43.8  51.0        21.0            40

In [167]:
mcat_data = pd.merge(only_log, scale, on="subject_id")
mcat_data = mcat_data.drop(["task_round", "task_class", "task_index"], axis=1)
mcat_data

,subject_id,mouse_distance,mouse_click,keyboard_press,duration,prompt_count,cost,sus,effect,easy,easy_learn,satisfaction
0,2,16718,8,1092,341.584,155,236.760924,80.0,47.6,60.8,26.6,49
1,3,16922,20,785,397.007,134,176.775210,70.0,44.0,58.8,26.6,43
2,4,22396,15,1002,520.827,150,225.425210,70.0,44.0,57.0,25.6,45
3,5,20161,13,1097,493.094,161,241.877521,60.0,52.6,56.6,24.6,48
4,6,14137,8,1312,609.363,186,278.049790,85.0,54.6,67.2,26.6,48
5,7,43405,25,1333,573.731,147,314.693487,82.5,53.6,67.2,26.6,49
6,8,9394,5,840,319.289,122,178.367647,62.5,46.0,54.8,23.0,42
7,9,17619,13,968,376.677,112,213.407353,65.0,43.8,51.0,21.0,40
8,10,25313,8,1033,370.516,160,233.989286,90.0,54.6,67.2,26.6,49
9,11,11575,10,753,259.809,90,163.758613,82.5,48.0,65.6,26.6,46
10,12,17565,8,835,312.990,114,186.250630,85.0,50.8,61.2,24.6,46
11,13,8151,5,1076,384.912,149,224.261975,87.5,47.6,67.2,24.6,48
12,14,3804,2,813,403.451,129,166.795798,75.0,54.6,67.2,26.6,49
13,15,19539,11,848,455.093,115,191.224160,80.0,54.6,64.8,26.6,48
14,16,18697,26,1643,607.628,242,350.839706,72.5,45.8,58.4,26.6,49
15,201,21804,17,1288,623.159,161,282.203361,50.0,54.6,67.2,26.6,49
16,202,18727,14,28,361.686,87,26.671218,77.5,52.6,64.6,26.6,45
17,203,53879,59,2372,794.629,293,536.895588,67.5,51.8,58.6,24.8,46
18,204,39139,37,1158,507.725,175,276.412395,85.0,49.6,60.2,23.8,48
19,205,18335,13,917,396.456,119,203.959454,60.0,48.8,64.0,26.6,49
20,206,6088,6,485,253.813,73,103.994958,57.5,49.6,58.8,24.0,48

## 人口数据

In [168]:
popluation = pd.read_csv("population.csv")
popluation.columns

Index(['编号', '开始答题时间', '结束答题时间', '答题时长', '地理位置国家和地区', '地理位置省', '地理位置市',
       '自定义字段', 'IP', 'UA', 'Referrer', '1.《知情同意书》签字', '2.实验编号', '3.姓名',
       '4.您的出生年份是？', '5.您的性别是？', '6.到目前为止，您的最高学历(包括在读)是？', '7.您最后学习的专业是？:学科',
       '7.您最后学习的专业是？:专业名称', '8.您对 macOS 的熟悉情况如何？', '9.您对 Figma 的熟悉情况如何',
       '10.您的邮箱是?（选填）', '11.微信号/支付宝号（用于发放实验津贴）', 'Unnamed: 23'],
      dtype='object')

In [169]:
popluation = popluation.drop(['编号', '开始答题时间', '结束答题时间', '答题时长', '地理位置国家和地区', '地理位置省', '地理位置市',
       '自定义字段', 'IP', 'UA', 'Referrer', '1.《知情同意书》签字','10.您的邮箱是?（选填）', '11.微信号/支付宝号（用于发放实验津贴）', 'Unnamed: 23', '7.您最后学习的专业是？:学科',
       '7.您最后学习的专业是？:专业名称', '6.到目前为止，您的最高学历(包括在读)是？', "4.您的出生年份是？", ], axis=1)
popluation = popluation.rename({"2.实验编号": "subject_id", "3.姓名": "name", "8.您对 macOS 的熟悉情况如何？":"mac_os", "9.您对 Figma 的熟悉情况如何": "figma", "5.您的性别是？":"gender"}, axis=1)
popluation["mac_os"] = popluation["mac_os"].map({"D.我没用过/没听说过 macOS":0,"C.我是初级用户（只会基本操作，很多功能需要查阅资料）":1, "B.我是中级用户（熟悉各种快捷键和系统特性，能较轻松地完成日常活动）":2})
popluation["figma"] = popluation['figma'].map({"C.我是初级用户（只会基本操作，经常需要查阅 Figma 功能用法）":1, "B.我是中级用户（能够较流畅使用 Figma 产出设计图，但对高级功能了解有限）":2, "A.我是专家用户（能熟练使用组件系统、快捷键、插件系统等高级功能）":3})
popluation["gender"] = popluation["gender"].map({"A.男":1, "B.女":0})
popluation

    subject_id  name  gender  mac_os  figma
0          202   程艺明       0       1      1
1          206   余舟童       0       2      2
2          205   sim       0       2      1
3          204   王心宇       0       2      3
4          203   黄欧影       0       2      2
5          201   王文晔       0       1      1
6           13    陈超       1       2      2
7           15    徐瑶       0       2      1
8           16   张德寅       1       2      3
9           14    李萍       0       1      2
10          12   赵婉莹       0       2      2
11           3    孔蕾       0       2      1
12           2   张杨康       1       1      1
13           4   楼苗佳       1       2      1
14          10  张叶冰清       0       0      2
15           7   覃一香       0       2      2
16           5    杨子       0       2      2
17          11   张珍妮       0       2      2
18           6   梁之馨       0       1      1
19           8   张奕晨       1       2      2
20           9   张宏博       1       2      2

In [170]:
mcat_data = pd.merge(mcat_data, popluation, on="subject_id")

In [171]:
mcat_data.sort_values(by="mac_os", ascending=False)

,subject_id,mouse_distance,mouse_click,keyboard_press,duration,prompt_count,cost,sus,effect,easy,easy_learn,satisfaction,name,gender,mac_os,figma
10,12,17565,8,835,312.990,114,186.250630,85.0,50.8,61.2,24.6,46,赵婉莹,0,2,2
9,11,11575,10,753,259.809,90,163.758613,82.5,48.0,65.6,26.6,46,张珍妮,0,2,2
19,205,18335,13,917,396.456,119,203.959454,60.0,48.8,64.0,26.6,49,sim,0,2,1
18,204,39139,37,1158,507.725,175,276.412395,85.0,49.6,60.2,23.8,48,王心宇,0,2,3
17,203,53879,59,2372,794.629,293,536.895588,67.5,51.8,58.6,24.8,46,黄欧影,0,2,2
14,16,18697,26,1643,607.628,242,350.839706,72.5,45.8,58.4,26.6,49,张德寅,1,2,3
13,15,19539,11,848,455.093,115,191.224160,80.0,54.6,64.8,26.6,48,徐瑶,0,2,1
11,13,8151,5,1076,384.912,149,224.261975,87.5,47.6,67.2,24.6,48,陈超,1,2,2
1,3,16922,20,785,397.007,134,176.775210,70.0,44.0,58.8,26.6,43,孔蕾,0,2,1
20,206,6088,6,485,253.813,73,103.994958,57.5,49.6,58.8,24.0,48,余舟童,0,2,2
7,9,17619,13,968,376.677,112,213.407353,65.0,43.8,51.0,21.0,40,张宏博,1,2,2
6,8,9394,5,840,319.289,122,178.367647,62.5,46.0,54.8,23.0,42,张奕晨,1,2,2
5,7,43405,25,1333,573.731,147,314.693487,82.5,53.6,67.2,26.6,49,覃一香,0,2,2
3,5,20161,13,1097,493.094,161,241.877521,60.0,52.6,56.6,24.6,48,杨子,0,2,2
2,4,22396,15,1002,520.827,150,225.425210,70.0,44.0,57.0,25.6,45,楼苗佳,1,2,1
12,14,3804,2,813,403.451,129,166.795798,75.0,54.6,67.2,26.6,49,李萍,0,1,2
15,201,21804,17,1288,623.159,161,282.203361,50.0,54.6,67.2,26.6,49,王文晔,0,1,1
16,202,18727,14,28,361.686,87,26.671218,77.5,52.6,64.6,26.6,45,程艺明,0,1,1
4,6,14137,8,1312,609.363,186,278.049790,85.0,54.6,67.2,26.6,48,梁之馨,0,1,1
0,2,16718,8,1092,341.584,155,236.760924,80.0,47.6,60.8,26.6,49,张杨康,1,1,1
8,10,25313,8,1033,370.516,160,233.989286,90.0,54.6,67.2,26.6,49,张叶冰清,0,0,2

In [172]:
mcat_data[["prompt_count", "sus", "easy","easy_learn", "effect", "mac_os", "figma"]].corr(method="spearman")

,prompt_count,sus,easy,easy_learn,effect,mac_os,figma
prompt_count,1.000000,0.113644,0.014789,0.110671,0.154178,-0.176059,0.157763
sus,0.113644,1.000000,0.533620,0.195110,0.211289,-0.222638,0.187931
easy,0.014789,0.533620,1.000000,0.611904,0.682456,-0.553429,-0.208749
easy_learn,0.110671,0.195110,0.611904,1.000000,0.404260,-0.517598,-0.487735
effect,0.154178,0.211289,0.682456,0.404260,1.000000,-0.553721,-0.126799
mac_os,-0.176059,-0.222638,-0.553429,-0.517598,-0.553721,1.000000,0.350828
figma,0.157763,0.187931,-0.208749,-0.487735,-0.126799,0.350828,1.000000

In [173]:
from scipy import stats
buffer = mcat_data.drop(["subject_id", "name", "mouse_click", "mouse_distance", "keyboard_press", "figma"], axis=1)
corr, p = stats.spearmanr(buffer)
pd.DataFrame(corr, columns=buffer.columns, index=buffer.columns)

,duration,prompt_count,cost,sus,effect,easy,easy_learn,satisfaction,gender,mac_os
duration,1.000000,0.771679,0.784416,-0.098959,0.276841,0.090677,0.233523,0.278294,-0.104447,-0.029608
prompt_count,0.771679,1.000000,0.878857,0.113644,0.154178,0.014789,0.110671,0.373304,0.087067,-0.176059
cost,0.784416,0.878857,1.000000,0.069662,0.145292,0.011170,0.059822,0.417106,0.121854,-0.026318
sus,-0.098959,0.113644,0.069662,1.000000,0.211289,0.533620,0.195110,0.131442,-0.052359,-0.222638
effect,0.276841,0.154178,0.145292,0.211289,1.000000,0.682456,0.404260,0.500148,-0.710573,-0.553721
easy,0.090677,0.014789,0.011170,0.533620,0.682456,1.000000,0.611904,0.564228,-0.449179,-0.553429
easy_learn,0.233523,0.110671,0.059822,0.195110,0.404260,0.611904,1.000000,0.528841,-0.328471,-0.517598
satisfaction,0.278294,0.373304,0.417106,0.131442,0.500148,0.564228,0.528841,1.000000,-0.197748,-0.409381
gender,-0.104447,0.087067,0.121854,-0.052359,-0.710573,-0.449179,-0.328471,-0.197748,1.000000,0.176383
mac_os,-0.029608,-0.176059,-0.026318,-0.222638,-0.553721,-0.553429,-0.517598,-0.409381,0.176383,1.000000

In [174]:
def highlight(val):
    color = 'red' if val < 0.05 and val > 0 else 'white'
    return 'color: %s' % color
  
p = pd.DataFrame(p, columns=buffer.columns, index=buffer.columns)
p.apply(lambda x: x.map(lambda y: round(y, 3))).style.applymap(highlight)

In [175]:
stats.shapiro(mcat_data["prompt_count"])

ShapiroResult(statistic=0.8926445245742798, pvalue=0.025262491777539253)

In [176]:
stats.describe(mcat_data["prompt_count"])

DescribeResult(nobs=21, minmax=(73, 293), mean=146.38095238095238, variance=2542.0476190476193, skewness=1.2751384330844044, kurtosis=1.915418899054222)

In [177]:
stats.spearmanr(mcat_data["sus"], mcat_data["mac_os"] + mcat_data["figma"])

SignificanceResult(statistic=-0.031648003354182164, pvalue=0.8916771768422115)

In [178]:
def summary_column(column):
    data = column
    n = len(data)
    mean = np.mean(data)
    std = np.std(data)
    std_error = std / np.sqrt(n)
    ci = stats.t.interval(0.95, n-1, loc=mean, scale=std_error)
    ci_lower = ci[0]
    ci_upper = ci[1]

    minimum = np.min(data)
    maximum = np.max(data)
    return pd.DataFrame({'column_name': column.name, 'sample_size': n, 'mean': mean, 
                                 'std': std, 'std_error': std_error, 'ci_lower': ci_lower, 
                                 'ci_upper': ci_upper, 'min': minimum, 'max': maximum}, index=[0])

def summary(df):
    summary_df = pd.DataFrame(columns=['column_name', 'sample_size', 'mean', 'std', 'std_error', 'ci_lower', 'ci_upper', 'min', 'max'])
    dfs = []
    
    for column in df.columns:
        dfs.append(summary_column(column))
    
    summary_df = pd.concat(dfs, ignore_index=True)
    
    return summary_df

In [179]:
res = summary_column(mcat_data["prompt_count"]).round(4)

In [180]:
res.to_csv("prompt_describe.csv", index=False)

In [181]:
def pval_df(df, spearman=False):
    pval_matrix = []
    for col1 in df.columns:
        pval_row = []
        for col2 in df.columns:
            # 使用scipy.stats模块中的pearsonr()函数，返回两个值：相关系数和
            if spearman == False:
                pval = stats.pearsonr(df[col1], df[col2])[1]
            else:
                pval = stats.spearmanr(df[col1], df[col2])[1]
            pval_row.append(pval)
        pval_matrix.append(pval_row)
    return pd.DataFrame(pval_matrix, index=df.columns, columns=df.columns)

In [213]:
# 文本分词和交互数据的 Spearman 相关系数
data = mcat_data.loc[:, ["prompt_count", "duration", "cost"]]
data = mcat_data.loc[:, ["prompt_count", "duration", "cost", "sus", "easy", "easy_learn", "satisfaction"]]
# corr = data.corr(method="pearson")
corr = data.corr(method="spearman")
# corr = pd.DataFrame(corr,columns=data.columns).reset_index()
corr 
# print corr as csv

,prompt_count,duration,cost,sus,easy,easy_learn,satisfaction
prompt_count,1.000000,0.771679,0.878857,0.113644,0.014789,0.110671,0.373304
duration,0.771679,1.000000,0.784416,-0.098959,0.090677,0.233523,0.278294
cost,0.878857,0.784416,1.000000,0.069662,0.011170,0.059822,0.417106
sus,0.113644,-0.098959,0.069662,1.000000,0.533620,0.195110,0.131442
easy,0.014789,0.090677,0.011170,0.533620,1.000000,0.611904,0.564228
easy_learn,0.110671,0.233523,0.059822,0.195110,0.611904,1.000000,0.528841
satisfaction,0.373304,0.278294,0.417106,0.131442,0.564228,0.528841,1.000000

In [226]:
print(rename(pval_df(corr).round(4)).to_csv())

,文本分词长度,任务时长,操作成本,SUS 评分,USE 易用性,USE 易学性,USE 满意度
文本分词长度,0.0,0.0044,0.0001,0.0976,0.0016,0.0731,0.6923
任务时长,0.0044,0.0,0.0041,0.0174,0.0164,0.2603,0.7401
操作成本,0.0001,0.0041,0.0,0.0822,0.003,0.0709,0.7905
SUS 评分,0.0976,0.0174,0.0822,0.0,0.19,0.9578,0.4678
USE 易用性,0.0016,0.0164,0.003,0.19,0.0,0.0728,0.4182
USE 易学性,0.0731,0.2603,0.0709,0.9578,0.0728,0.0,0.2729
USE 满意度,0.6923,0.7401,0.7905,0.4678,0.4182,0.2729,0.0

In [216]:
p = pval_df(data)
p

,prompt_count,duration,cost,sus,easy,easy_learn,satisfaction
prompt_count,0.000000e+00,9.371166e-07,2.455124e-09,0.886284,0.745673,0.674780,2.983648e-01
duration,9.371166e-07,2.557517e-147,1.905594e-06,0.577940,0.818340,0.444240,2.920133e-01
cost,2.455124e-09,1.905594e-06,0.000000e+00,0.931485,0.736523,0.982932,3.556820e-01
sus,8.862843e-01,5.779400e-01,9.314847e-01,0.000000,0.039200,0.274411,3.810489e-01
easy,7.456729e-01,8.183402e-01,7.365233e-01,0.039200,0.000000,0.000208,8.164557e-04
easy_learn,6.747805e-01,4.442397e-01,9.829324e-01,0.274411,0.000208,0.000000,2.809092e-03
satisfaction,2.983648e-01,2.920133e-01,3.556820e-01,0.381049,0.000816,0.002809,1.851840e-144

In [212]:
import pyperclip
def rename(df:pd.DataFrame):
    df = df.rename({"prompt_count": "文本分词长度", "duration": "任务时长", "cost": "操作成本", "sus":"SUS 评分","effect": "USE 有效性", "easy": "USE 易用性", "easy_learn": "USE 易学性", "satisfaction": "USE 满意度"}, axis=1)
    df = df.rename({"prompt_count": "文本分词长度", "duration": "任务时长", "cost": "操作成本", "sus":"SUS 评分","effect": "USE 有效性", "easy": "USE 易用性", "easy_learn": "USE 易学性", "satisfaction": "USE 满意度"}, axis=0)
    # df[""] = df["index"].map({"prompt_count": "文本分词长度", "duration": "任务时长", "cost": "操作成本", "sus":"SUS 评分","effect": "USE 有效性", "easy": "USE 易用性", "easy_learn": "USE 易学性", "satisfaction": "USE 满意度"})
    # df 第一行替换

    return df

In [187]:
corr = rename(corr)
print(corr)
# pyperclip.copy(corr.to_markdown(index=False))

                文本分词长度      任务时长      操作成本    SUS 评分   USE 易用性   USE 易学性  \
prompt_count  1.000000  0.771679  0.878857  0.113644  0.014789  0.110671
duration      0.771679  1.000000  0.784416 -0.098959  0.090677  0.233523
cost          0.878857  0.784416  1.000000  0.069662  0.011170  0.059822
sus           0.113644 -0.098959  0.069662  1.000000  0.533620  0.195110
easy          0.014789  0.090677  0.011170  0.533620  1.000000  0.611904
easy_learn    0.110671  0.233523  0.059822  0.195110  0.611904  1.000000
satisfaction  0.373304  0.278294  0.417106  0.131442  0.564228  0.528841

               USE 满意度
prompt_count  0.373304
duration      0.278294
cost          0.417106
sus           0.131442
easy          0.564228
easy_learn    0.528841
satisfaction  1.000000

In [188]:
p = rename(p)
print(p)
pyperclip.copy(p.to_markdown(index=False))

                    文本分词长度           任务时长          操作成本    SUS 评分   USE 易用性  \
prompt_count  0.000000e+00   9.371166e-07  2.455124e-09  0.886284  0.745673
duration      9.371166e-07  2.557517e-147  1.905594e-06  0.577940  0.818340
cost          2.455124e-09   1.905594e-06  0.000000e+00  0.931485  0.736523
sus           8.862843e-01   5.779400e-01  9.314847e-01  0.000000  0.039200
easy          7.456729e-01   8.183402e-01  7.365233e-01  0.039200  0.000000
easy_learn    6.747805e-01   4.442397e-01  9.829324e-01  0.274411  0.000208
satisfaction  2.983648e-01   2.920133e-01  3.556820e-01  0.381049  0.000816

               USE 易学性        USE 满意度
prompt_count  0.674780   2.983648e-01
duration      0.444240   2.920133e-01
cost          0.982932   3.556820e-01
sus           0.274411   3.810489e-01
easy          0.000208   8.164557e-04
easy_learn    0.000000   2.809092e-03
satisfaction  0.002809  1.851840e-144

In [189]:
stats.pearsonr(mcat_data["prompt_count"], mcat_data["sus"])

PearsonRResult(statistic=0.03323326559427906, pvalue=0.8862843251166858)

In [190]:
data = mcat_data.loc[:, ["prompt_count", "effect", "easy", "easy_learn", "satisfaction"]]
corr, p = stats.spearmanr(data)
corr = pd.DataFrame(corr,columns=data.columns, index=data.columns)
corr

              prompt_count    effect      easy  easy_learn  satisfaction
prompt_count      1.000000  0.154178  0.014789    0.110671      0.373304
effect            0.154178  1.000000  0.682456    0.404260      0.500148
easy              0.014789  0.682456  1.000000    0.611904      0.564228
easy_learn        0.110671  0.404260  0.611904    1.000000      0.528841
satisfaction      0.373304  0.500148  0.564228    0.528841      1.000000

In [191]:
p = pd.DataFrame(p, columns=data.columns, index=data.columns)
p

,prompt_count,effect,easy,easy_learn,satisfaction
prompt_count,0.000000,5.045958e-01,9.492688e-01,6.329526e-01,0.095549
effect,0.504596,3.532105e-150,6.532211e-04,6.912516e-02,0.020948
easy,0.949269,6.532211e-04,3.532105e-150,3.198944e-03,0.007714
easy_learn,0.632953,6.912516e-02,3.198944e-03,3.532105e-150,0.013706
satisfaction,0.095549,2.094750e-02,7.714009e-03,1.370606e-02,0.000000

In [192]:
res =  pd.concat([corr.iloc[[0]], p.iloc[[0]]]).drop(["prompt_count"],axis=1)
res = res.rename({"effect": "USE 有效性", "easy": "USE 易用性", "easy_learn": "USE 易学性", "satisfaction": "USE 满意度"}, axis = 1)
print(res)
pyperclip.copy(res.to_markdown())

               USE 有效性   USE 易用性   USE 易学性   USE 满意度
prompt_count  0.154178  0.014789  0.110671  0.373304
prompt_count  0.504596  0.949269  0.632953  0.095549

In [193]:
data = mcat_data.loc[:, ["mac_os", "sus","effect", "easy", "easy_learn", "satisfaction"]]
corr, p = stats.spearmanr(data)
corr = pd.DataFrame(corr,columns=data.columns, index=data.columns)
p = pd.DataFrame(p, columns=data.columns, index=data.columns)

In [194]:
res =  pd.concat([corr.iloc[[0]], p.iloc[[0]]]).drop(["mac_os"],axis=1)
res = res.rename({"sus":"SUS 评分","effect": "USE 有效性", "easy": "USE 易用性", "easy_learn": "USE 易学性", "satisfaction": "USE 满意度"}, axis = 1)
res = res.assign(统计量=["rho", "p"])
cols = list(res.columns)
cols = [cols[-1]] + cols[:-1]
res = res[cols]

In [229]:
res

             sus    effect      easy  easy_learn  satisfaction
mac_os -0.222638 -0.553721 -0.553429   -0.517598     -0.409381
mac_os  0.332032  0.009208  0.009253    0.016253      0.065348

In [230]:
print(rename(res).round(4).to_csv())

,SUS 评分,USE 有效性,USE 易用性,USE 易学性,USE 满意度
mac_os,-0.2226,-0.5537,-0.5534,-0.5176,-0.4094
mac_os,0.332,0.0092,0.0093,0.0163,0.0653

In [197]:
res =  pd.concat([corr.iloc[[0]], p.iloc[[0]]]).drop(["mac_os"],axis=1)
res

             sus    effect      easy  easy_learn  satisfaction
mac_os -0.222638 -0.553721 -0.553429   -0.517598     -0.409381
mac_os  0.332032  0.009208  0.009253    0.016253      0.065348

In [232]:
corr, p = stats.spearmanr(mcat_data["prompt_count"], mcat_data["mac_os"])

In [233]:
corr.round(4)

-0.1761

In [234]:
p.round(4)

0.4452